[
 ;;; Session partition

 {:db/id #db/id [:db.part/db]
  :db/ident :db.part/session
  :db.install/_partition :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :session/id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "The unique session ID"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :session.user/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "The user's external ID"
  :db.install/_attribute :db.part/db}

 ;;; Game partition

 {:db/id #db/id [:db.part/db]
  :db/ident :db.part/ftb500
  :db.install/_partition :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :user/id
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "The user's external ID"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
  :db/ident :user/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The user's name"
  :db.install/_attribute :db.part/db}]
